[submodule "lib/sdk"]
	path = lib/sdk
	url = git@github.com:cloudwalkio/pax_libs.git
[submodule "mrbgems/mruby-polarssl"]
	path = mrbgems/mruby-polarssl
	url = git@github.com:luisbebop/mruby-polarssl.git
[submodule "mrbgems/mruby-mtest"]
	path = mrbgems/mruby-mtest
	url = git@github.com:iij/mruby-mtest.git
[submodule "mrbgems/mruby-regexp-pcre"]
	path = mrbgems/mruby-regexp-pcre
	url = git@github.com:iij/mruby-regexp-pcre.git
[submodule "mrbgems/mruby-pack"]
	path = mrbgems/mruby-pack
	url = git@github.com:iij/mruby-pack.git
[submodule "mrbgems/mruby-hs-regexp"]
	path = mrbgems/mruby-hs-regexp
	url = git@github.com:scalone/mruby-hs-regexp.git
[submodule "lib/da_funk"]
	path = lib/da_funk
	url = git@github.com:cloudwalkio/da_funk.git
[submodule "mrbgems/mruby-io"]
	path = mrbgems/mruby-io
	url = git@github.com:iij/mruby-io.git
[submodule "mrbgems/mruby-qrcode"]
	path = mrbgems/mruby-qrcode
	url = git@github.com:sadasant/mruby-qrcode.git
[submodule "mrbgems/mruby-socket"]
	path = mrbgems/mruby-socket
	url = git@github.com:cloudwalkio/mruby-socket.git
[submodule "mrbgems/mruby-sleep"]
	path = mrbgems/mruby-sleep
	url = git@github.com:matsumoto-r/mruby-sleep.git
[submodule "mrbgems/mruby-dir"]
	path = mrbgems/mruby-dir
	url = git@github.com:iij/mruby-dir.git
[submodule "mrbgems/mruby-require"]
	path = mrbgems/mruby-require
	url = git@github.com:iij/mruby-require.git
[submodule "mrbgems/mruby-tempfile"]
	path = mrbgems/mruby-tempfile
	url = git@github.com:iij/mruby-tempfile.git
[submodule "mrbgems/mruby-pax-network"]
	path = mrbgems/mruby-pax-network
	url = git@github.com:cloudwalkio/mruby-pax-network.git
[submodule "mrbgems/mruby-pax"]
	path = mrbgems/mruby-pax
	url = git@github.com:cloudwalkio/mruby-pax.git
[submodule "mrbgems/mruby-miniz"]
	path = mrbgems/mruby-miniz
	url = git@github.com:scalone/mruby-miniz.git
[submodule "mrbgems/mruby-json"]
	path = mrbgems/mruby-json
	url = git@github.com:mattn/mruby-json.git
[submodule "mrbgems/mruby-context"]
	path = mrbgems/mruby-context
	url = git@github.com:scalone/mruby-context.git
[submodule "mrbgems/mruby-msgpack"]
	path = mrbgems/mruby-msgpack
	url = git@github.com:scalone/mruby-msgpack.git
[submodule "lib/main"]
	path = lib/main
	url = git@github.com:cloudwalkio/main.git
[submodule "mrbgems/mruby-base58"]
	path = mrbgems/mruby-base58
	url = git@github.com:scalone/mruby-base58.git
[submodule "mrbgems/mruby-hmac"]
	path = mrbgems/mruby-hmac
	url = git@github.com:scalone/mruby-hmac.git
[submodule "mrbgems/mruby-mock"]
	path = mrbgems/mruby-mock
	url = git@github.com:iij/mruby-mock.git
[submodule "mrbgems/mruby-ripemd"]
	path = mrbgems/mruby-ripemd
	url = git@github.com:scalone/mruby-ripemd.git
[submodule "mrbgems/mruby-sha1"]
	path = mrbgems/mruby-sha1
	url = git@github.com:scalone/mruby-sha1.git
[submodule "mrbgems/mruby-sha2"]
	path = mrbgems/mruby-sha2
	url = git@github.com:h2so5/mruby-sha2.git
[submodule "mrbgems/mruby-bignum"]
	path = mrbgems/mruby-bignum
	url = git@github.com:chasonr/mruby-bignum.git
[submodule "mrbgems/mruby-simple-random"]
	path = mrbgems/mruby-simple-random
	url = git@github.com:iij/mruby-simple-random.git
[submodule "lib/mruby"]
	path = lib/mruby
	url = git@github.com:mruby/mruby.git
[submodule "mrbgems/mruby-tinyxml2"]
	path = mrbgems/mruby-tinyxml2
	url = git@github.com:h2so5/mruby-tinyxml2.git
[submodule "mrbgems/mruby-thread"]
	path = mrbgems/mruby-thread
	url = git@github.com:mattn/mruby-thread.git
[submodule "mrbgems/mruby-simplemsgpack"]
	path = mrbgems/mruby-simplemsgpack
	url = git@github.com:Asmod4n/mruby-simplemsgpack.git
[submodule "mrbgems/mruby-errno"]
	path = mrbgems/mruby-errno
	url = git@github.com:iij/mruby-errno.git
